<app-header></app-header>

<main class="flex-1 flex flex-col justify-between items-center gap-y-5 py-5">
  <table class="auto-table">
    <tbody>
      @for (row of rows(); track $index) {
        <tr>
          @for (field of row; track $index) {
            <td
              [class.preview]="field.isPreview"
              [class.selectable]="field.canSelect"
            >
              {{ field.text }}
            </td>
          }
        </tr>
      }
    </tbody>
  </table>

  <div class="flex flex-col gap-y-5">
    <div class="flex justify-center gap-x-2">
      @for (dice of dices(); track $index) {
        <app-dice
          [value]="dice.num"
          (click)="selectDice($index)"
          [class.preview]="!dice.selected"
        />
      }
    </div>

    <div class="flex items-center justify-center gap-3">
      <button (click)="inviteFriend()">
      Invite friend
      </button>

      <button (click)="startGame()" >
        Start game
      </button>
    </div>
  </div>
</main>



<!--
<footer class="min-h-20 px-6 py-4 flex items-center justify-center">
  <div class="flex items-center justify-center gap-3">
    <p-button
      label="Invite friend"
      severity="secondary"
      (onClick)="inviteFriend()"
    />

    <p-button label="Start game" (onClick)="startGame()" />
  </div>
</footer>

<p-dialog
  header="Info"
  [visible]="showInfo()"
  (visibleChange)="showInfo.set($event)"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <p>Here is some info</p>
</p-dialog>

<p-toast /> -->