/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

app-root {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
}